
/* !------------- Class Page Styles -------------! */
.joinclass {
  text-align: center;
  padding: 2rem;
}

.joinclass h2 {
  margin-bottom: 1.5rem;
  font-size: 1.8rem;
}

.card-container {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  flex-wrap: wrap;
}

.card-button {
  cursor: pointer;
  padding: 2rem;
  border: 1px solid #ccc;
  border-radius: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 200px;
  background: #f9f9f9;
  transition: transform 0.2s;
  color:black;
}

.card-button:hover {
  transform: scale(1.05);
}

.card-button h3 {
  margin: 0;
  font-size: 1.2rem;
}