/* Make the login page take full screen width and height */
body, html {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
}

.login-container {
    display: flex;
    width: 100%;
    height: 100%;
}

/* Left box for the image */
.login-container .left-box {
    flex: 1;
    background-image: url('/media/style_resources/cover1.png'); /* Replace with your image path */
    background-size: cover;
    background-position: center;
}

.login-container .right-box {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f4f4f4;
}

/* Style for the login form */
.login-form {
    width: 80%;
    max-width: 400px;
    padding: 20px;
    background: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}
.signup-form{
    width: 80%;
    max-width: 600px;
    padding: 20px;
    background: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}
.login-form h1 {
    margin-bottom: 20px;
    font-size: 24px;
    text-align: center;
}

.login-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="submit"] {
    background-color: #FDD693;
    color:rgb(0, 0, 0);
}

input[type="submit"]:hover {
    background-color: #ffffff;
    color:black;
}


#signup-button {
    background-color: #FDD693;
    color:rgb(0, 0, 0);
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
#signup-button:hover {
    background-color: #ffffff;
}

