{% extends 'base.html' %}

{% block title %}Sign Up{% endblock %}

{% block content %}
<!-- Wrap the content in a container for split screen layout -->
<div class="login-container">
    <!-- Left box for the image -->
    <div class="left-box"></div>

    <!-- Right box for the signup form -->
    <div class="right-box">
        <h2>Sign Up</h2>
        <form class="login-form" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" id="signup-button">Sign Up</button>
        </form>
        <div class="signup-link">
            <a href="{% url 'accounts:login' %}">Already have account</a>
        </div>
    </div>
</div>
{% endblock %}
