body {
    /* background-color: #219C90; */
    background-color: #16161E;
    display: flex;
    max-width: 100vw;
    flex-direction: column;
    overflow-x: hidden;
        color: white;

}
#void-container{
    width:100vw;
    height:100vh;
    display: flex;
    flex-direction: row;
}

