#main-component{
    width: 100vw;
    display:flex;
    flex-direction: row;
    border: #E9B824 1px 1px;
}


#main-inner-window{
    display: flex;
    width:auto;
    flex-grow:1;
    /* transition: margin-left 0.3s ease-in-out; */
}


.navbar {
    display: flex;
    flex-direction: column;
    justify-content: start;
    /* top: 0; */
    /* left: -300px; Initially hidden */
    width: 300px;
    height: 100vh;
    background-color: #333;
    color: white;
    transition: width 0.3s ease-in-out, opacity 0.3s ease-in-out; /* Smooth animation for both width and opacity */
    /* z-index: 1000; */
    padding: 0px;
}

.navbar.visible {
    width: 0px; /* Slide in */
    opacity:0;
}

.navbar ul {
    list-style: none;
    /* padding: 0; */
}

.navbar li {
    /* padding: 10px; */
    color: white;
    cursor: pointer;
}

/* Toggle Button Styles */
.toggle-button {
    position: fixed;
    left: 0px;
    z-index: 1100;
    background-color: #007bff;
    color: white;
    border: none;
    /* padding: 10px; */
    cursor: pointer;
    transition: left 0.3s ease-in-out;
    width:50px;
    /* height:100px */
}

.toggle-button.visible {
    left: 300px; /* Slide in */
}

/* Styles for chevron rotation and size */
.chevron {
  display: inline-block;
  transition: transform 0.7s ease;
  font-size:60px; 
  transform-origin: 50% 50%;
  vertical-align: middle;
  padding-bottom: 20px;
}

.rotate {
  transform: rotate(180deg);
}