{% extends "videochat/layout.html" %}

{% load static %}

{% block body %} 

    <div id="main-component">

    </div>


{% endblock %}

{% block style %}
    <link href="{% static 'videochat/chat_page/ChatComponent.css' %}" rel="stylesheet">
{% endblock %}

{% block script %}

    <script>
        //Collecting data that for react accessing
        window.__INITIAL_DATA__={
            logged_in:{{ user.is_authenticated|yesno:"true,false" }},
            username:"{{ request.user.username|escapejs }}", 
            login_link:"{% url 'accounts:login' %}",
            logout_link:"{% url 'accounts:logout' %}",
            profile_image: "{{ profile.photo.url|escapejs }}"
        };
    </script>

    <script type="text/babel" src="{% static 'videochat/chat_page/receiver.js' %}"></script>
    <script type="text/babel" src="{% static 'videochat/chat_page/sender.js' %}"></script>
    <script type="text/babel" src="{% static 'videochat/chat_page/ChatComponent.js' %}"></script>
{% endblock %}


