{% extends "videochat/layout.html" %}
{% load static %}
{% block body %} 

            <div id="main-component">

                <div class="class-grid-container">
                    <div class="class-grid-title">
                        <h2>My classes</h2>
                    </div>
                    <div class="class-grid">
                        {% for classroom in page_obj %}
                        {# Each "contact" is a Contact model object. #}
                            <div id="index_classroom_wrapper">
                                <div id="index_post_photo">
                                    <img id="post-post-image" height="20" src="{{classroom.image_url}}" alt="{{post.image}}">    
                                </div>
                                <div id="index_classroom_item">
                                    <div id="first-div-inside-classroom">
                                        
                                        <p><b>{{classroom.name}}</b></p>
            
                                        <!-- {% if request.user.username == post.username %}
                                            <button class="edit_button" data-post-id="{{post.id}}"> Edit </button>
                                        {% endif %} -->
                                    </div>

                                    <div class="second-div-inside-post">
                                        <div class="lefftside-container-in-second-div">
                                             <div class="tag-card">{{classroom.instructor}}</div>
                                            <div class="tag-card" id="post-timestamp">{{classroom.subject}}</div>
                                            <div class="tag-card classroom-id">{{classroom.grade}}</div>
                                        </div>
                                        
                                        <div class="join-class-button" 
                                            data-app-id="95c3c83fa4a34edc8ed24e22eed1bd82"
                                            data-channel="mock_channel"
                                            data-token="007eJxTYPgf5+C+s2rmtsZtS4s7WQy9NpllZG8WOatVqcNVLezQb6PAYGmabJxsYZyWaJJobJKakmyRmmJkkmpklJqaYpiUYmGkrRWQIcDHwKDIdZOZkYGRgQWIQXwmMMkMJlnAJA9Dbn5ydnxyRmJeXmoOAwMAXpke5w=="
                                            id="join-class-btn-{{ forloop.counter }}">
                                        </div>
                                    </div>

                                    
                                </div>
                            </div>
                        
            
                        {% endfor %}
                        </div>
                    </div>
                <div id="create-class-button">
                </div>

            </div>


{% endblock %}


{% block script %}
        <link href="{% static 'videochat/classes.css' %}" rel="stylesheet">
        <script>
            //Collecting data that for react accessing
            window.__INITIAL_DATA__={
                logged_in:{{ user.is_authenticated|yesno:"true,false" }},
                username:"{{ request.user.username|escapejs }}", 
                login_link:"{% url 'accounts:login' %}",
                logout_link:"{% url 'accounts:logout' %}",
                profile_image: "{{ profile.photo.url|escapejs }}"
            };
        </script>
        <script src="https://cdn.agora.io/sdk/release/AgoraRTC_N.js"></script>


	    <script type="text/babel" src="{% static 'videochat/sidenav_toggle_button.js' %}"></script>
        <script type="text/babel" src="{% static 'videochat/createClass.js' %}"></script>
        <script type="text/babel" src="{% static 'videochat/joinClass.js' %}"></script>
        <script type="text/babel" src="{% static 'videochat/conference.js' %}"></script>
        <script type="text/babel" src="{% static 'videochat/class_app.js' %}"></script>
{% endblock %}








            <!--
            <script>
                const videoElement = document.getElementById('myVideo');

                navigator.mediaDevices.getUserMedia({ video: true })
                    .then(stream => {
                        videoElement.srcObject = stream;
                    })
                    .catch(error => {
                        console.error('Error accessing   media devices:', error);
                    });
            </script>
            -->
