{% extends "videochat/layout.html" %}
{% load static %}
{% block body %} 

            <div id="main-component">

                <div class="class-grid-container">
                    <div class="class-grid-title">
                        <h2>My classes</h2>
                    </div>
                    
                    
                    <div class="class-grid">
                        {% for classroom in page_obj %}
                        {# Each "contact" is a Contact model object. #}
                            <div id="index_classroom_wrapper">
                                <div id="index_post_photo">
                                    <img id="classroom-image-{{classroom.id}}" height="20" src="{{classroom.image_url}}" alt="{{post.image}}">  
                                    <input 
                                        type="file" 
                                        accept="image/*" 
                                        class="edit-classroom-image-input" 
                                        id="classroom-image-input-{{classroom.id}}" 
                                        style="display: none;"
                                    >  
                                </div>

                                <!-- <button class="class_details_edit_button" data-post-id="{{classroom.id}}"> Edit </button> -->
                                <div id="index_classroom_item">
                                    <div class="first-div-inside-classroom-card">
                                        <div class="classroom-title-inside-card" id="{{classroom.id}}">
                                            {{classroom.name}}
                                        </div>
                                        
                                        {% if request.user == classroom.instructor %}
                                            <button class="class_edit_button" data-classroom-id="{{classroom.id}}"> 
                                                <i class='fa-duotone fa-solid fa-pen class-edit-button-icon' data-state="edit"></i>    
                                            </button>
                                        {% endif %}
                                    </div>

                                    <div class="second-div-inside-classroom-card">
                                        <div class="lefftside-container-in-second-div">
                                             <div class="tag-card">{{classroom.instructor}}</div>
                                            <div class="tag-card" id="{{classroom.id}}-subject">{{classroom.subject}}</div>
                                            <div class="tag-card classroom-id" id="{{classroom.id}}-grade">{{classroom.grade}}</div>
                                        </div>
                                        
                                        <div class="join-class-button" 
                                            data-app-id="95c3c83fa4a34edc8ed24e22eed1bd82"
                                            data-channel="{{classroom.name}}"
                                            data-token="{{classroom.token}}"
                                            id="join-class-btn-{{ forloop.counter }}">
                                        </div>
                                    </div>

                                    
                                </div>
                            </div>
                        
            
                        {% endfor %}
                        </div>
                    </div>
                <div id="create-class-cards">
                </div>

            </div>


{% endblock %}


{% block script %}
        <link href="{% static 'videochat/my_classes_page/classes.css' %}" rel="stylesheet">
        <script>
            //Collecting data that for react accessing
            window.__INITIAL_DATA__={
                logged_in:{{ user.is_authenticated|yesno:"true,false" }},
                username:"{{ request.user.username|escapejs }}", 
                login_link:"{% url 'accounts:login' %}",
                logout_link:"{% url 'accounts:logout' %}",
                profile_image: "{{ profile.photo.url|escapejs }}"
            };
        </script>
        <script src="https://cdn.agora.io/sdk/release/AgoraRTC_N.js"></script>


	    <!-- <script type="text/babel" src="{% static 'videochat/my_classes_page/sidenav_toggle_button.js' %}"></script> -->
        <script type="text/babel" src="{% static 'videochat/my_classes_page/createClass.js' %}"></script>
        <script type="text/babel" src="{% static 'videochat/my_classes_page/joinClass.js' %}"></script>
        <script type="text/babel" src="{% static 'videochat/my_classes_page/conference.js' %}"></script>
        <script type="text/babel" src="{% static 'videochat/my_classes_page/class_app.js' %}"></script>
        <script src="{% static 'videochat/my_classes_page/class_edit_button.js' %}"></script>

{% endblock %}








            <!--
            <script>
                const videoElement = document.getElementById('myVideo');

                navigator.mediaDevices.getUserMedia({ video: true })
                    .then(stream => {
                        videoElement.srcObject = stream;
                    })
                    .catch(error => {
                        console.error('Error accessing   media devices:', error);
                    });
            </script>
            -->
