{% extends "videochat/layout.html" %}

{% block body %} 
       
        
        
            <div id="main-component">
            </div>
            <!--
            <script>
                const videoElement = document.getElementById('myVideo');

                navigator.mediaDevices.getUserMedia({ video: true })
                    .then(stream => {
                        videoElement.srcObject = stream;
                    })
                    .catch(error => {
                        console.error('Error accessing   media devices:', error);
                    });
            </script>
            -->

{% endblock %}
