{% extends "videochat/layout.html" %}

{% block body %} 

            <div id="main-component">
                <div id="sidebar-wrapper"></div>
                <div id="main_container_wrapper"></div>
            </div>
            <!--
            <script>
                const videoElement = document.getElementById('myVideo');

                navigator.mediaDevices.getUserMedia({ video: true })
                    .then(stream => {
                        videoElement.srcObject = stream;
                    })
                    .catch(error => {
                        console.error('Error accessing   media devices:', error);
                    });
            </script>
            -->

{% endblock %}
